In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
                     'Qu2': [2, 3, 1, 2, 3],
                     'Qu3': [1, 5, 2, 4, 4]})

In [4]:
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [5]:
data.pct_change()

        Qu1       Qu2  Qu3
0       NaN       NaN  NaN
1  2.000000  0.500000  4.0
2  0.333333 -0.666667 -0.6
3 -0.250000  1.000000  1.0
4  0.333333  0.500000  0.0

In [7]:
data["Qu1"].corr(data["Qu2"])

0.0

In [9]:
data.Qu1.corr(data.Qu2)

0.0

In [10]:
data.Qu1.cov(data.Qu2)

0.0

In [13]:
data.corrwith(data.Qu1)

Qu1    1.000000
Qu2    0.000000
Qu3    0.496904
dtype: float64

In [14]:
data.corrwith(data.Qu2)

Qu1    0.000000
Qu2    1.000000
Qu3    0.691023
dtype: float64

In [15]:
data.corr()

          Qu1       Qu2       Qu3
Qu1  1.000000  0.000000  0.496904
Qu2  0.000000  1.000000  0.691023
Qu3  0.496904  0.691023  1.000000

In [16]:
 obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])

In [17]:
obj.unique()

array(['c', 'a', 'd', 'b'], dtype=object)

In [18]:
# unique return unique values

In [20]:
obj.value_counts()

a    3
c    3
b    2
d    1
dtype: int64

In [21]:
# value count count the no of elemnts present in each value

In [22]:
pd.value_counts(obj)

a    3
c    3
b    2
d    1
dtype: int64

In [23]:
obj.values

array(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'], dtype=object)

In [25]:
obj[obj.isin(["b","c"])]

0    c
5    b
6    b
7    c
8    c
dtype: object

In [26]:
# isin chnge the presence of inddex

In [27]:
s1= pd.Series(['c', 'a', 'b', 'b', 'c', 'a'])

In [28]:
s2=pd.Series(['c','b','a'])

In [29]:
a=pd.Index(s2)

In [30]:
a

Index(['c', 'b', 'a'], dtype='object')

In [31]:
a.get_indexer(s1)

array([0, 2, 1, 1, 0, 2], dtype=int64)

In [32]:
# is mai hum index py method lagaty hn or ser dety hn jahan jaky index match hota iska index ata h

In [33]:
data

   Qu1  Qu2  Qu3
0    1    2    1
1    3    3    5
2    4    1    2
3    3    2    4
4    4    3    4

In [38]:
data.apply(pd.value_counts).fillna(0)

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0

In [40]:
pd.value_counts