# PANDAS PRACTICE

In [1]:
#Q1

In [2]:
import pandas as pd
import numpy as np

In [3]:
pd.__version__

'0.24.2'

In [4]:
#Q2

In [5]:
s1=pd.Series([11,22,33,44,55])

In [6]:
s1

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [7]:
arr=np.array([3,2,5,6])

In [8]:
arr

array([3, 2, 5, 6])

In [9]:
s2=pd.Series(arr)

In [10]:
s2

0    3
1    2
2    5
3    6
dtype: int32

In [11]:
d1={"name":"bushra",
   "father name":"afsar"}

In [12]:
d1

{'name': 'bushra', 'father name': 'afsar'}

In [13]:
s3=pd.Series(d1)

In [14]:
s3

name           bushra
father name     afsar
dtype: object

In [15]:
#q3

In [16]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [17]:
ser

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [18]:
df=pd.DataFrame(ser)

In [19]:
df.head()

   0
a  0
b  1
c  2
e  3
d  4

In [20]:
ser.head()

a    0
b    1
c    2
e    3
d    4
dtype: int64

In [21]:
df=ser.to_frame().reset_index()

In [22]:
df.head(10)

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4
5     f  5
6     g  6
7     h  7
8     i  8
9     j  9

In [23]:
#q4
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))

In [24]:
ser1=pd.Series(np.arange(26))

In [25]:
df=pd.DataFrame({"col1":ser,"col2":ser1})

In [26]:
df.head()

  col1  col2
0    a     0
1    b     1
2    c     2
3    d     3
4    e     4

In [27]:
df=pd.concat([ser,ser1],axis=1)

In [28]:
df.head()

   0  1
0  a  0
1  b  1
2  c  2
3  d  3
4  e  4

In [29]:
#q5

In [30]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.head()

0    a
1    b
2    c
3    e
4    d
dtype: object

In [31]:
ser.name="alphabets"

In [32]:
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [33]:
#q6

In [34]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1.isin(ser2)

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [35]:
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

In [36]:
#q7

In [37]:
u=pd.Series(np.union1d(ser1,ser2))

In [38]:
i=pd.Series(np.intersect1d(ser1,ser2))

In [39]:
u

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [40]:
i

0    4
1    5
dtype: int64

In [41]:
u[~u.isin(i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [42]:
import numpy as np
ser=pd.Series(np.random.normal(10,5,25))

In [44]:
ser.mean()

10.059932002030184

In [45]:
ser.median()

10.359958648195063

In [46]:
ser.min()

-2.0836223192702654

In [47]:
ser.max()

20.576744485128835

In [49]:
np.percentile(ser,q=[0,25,50,75,100])

array([-2.08362232,  7.20973885, 10.35995865, 14.25412018, 20.57674449])

In [56]:
ser1=pd.Series([1,2,3,4,5,6,7],index=list('abcdefg'))

In [57]:
np.percentile(ser1,q=[0,25,50,75,100])

array([1. , 2.5, 4. , 5.5, 7. ])

In [60]:
ser = pd.Series(np.take(list('bushraaa'), np.random.randint(8, size=30)))

In [61]:
ser

0     s
1     u
2     r
3     a
4     a
5     r
6     u
7     r
8     a
9     a
10    u
11    a
12    r
13    u
14    h
15    a
16    b
17    h
18    b
19    u
20    b
21    h
22    h
23    a
24    b
25    a
26    s
27    r
28    a
29    a
dtype: object

In [64]:
ser.value_counts()

a    10
u     5
r     5
b     4
h     4
s     2
dtype: int64

In [65]:
ser = pd.Series(np.random.randint(1, 5, [12]))
ser

0     2
1     2
2     1
3     1
4     3
5     1
6     4
7     4
8     3
9     3
10    3
11    2
dtype: int32

In [66]:
ser.value_counts()

3    4
2    3
1    3
4    2
dtype: int64

In [74]:
ser[~ser.isin(ser.value_counts().index[:2])]="OTHERS"

In [75]:
ser

0          2
1          2
2     OTHERS
3     OTHERS
4          3
5     OTHERS
6     OTHERS
7     OTHERS
8          3
9          3
10         3
11         2
dtype: object

In [76]:
ser = pd.Series(np.random.random(20))

In [77]:
ser

0     0.334108
1     0.571673
2     0.930291
3     0.765773
4     0.093243
5     0.412047
6     0.900748
7     0.052453
8     0.565320
9     0.513270
10    0.222132
11    0.663916
12    0.003902
13    0.480570
14    0.046618
15    0.657733
16    0.561250
17    0.814981
18    0.460091
19    0.701827
dtype: float64

In [78]:
# q:12

In [79]:
ser = pd.Series(np.random.randint(1, 10, 35))
ser

0     2
1     3
2     1
3     7
4     6
5     6
6     2
7     4
8     7
9     1
10    1
11    6
12    4
13    1
14    8
15    2
16    7
17    9
18    1
19    4
20    8
21    1
22    4
23    9
24    7
25    1
26    1
27    3
28    5
29    7
30    6
31    8
32    7
33    1
34    8
dtype: int32

In [81]:
len(np.random.randint(1,10,35))

35

In [84]:
df=pd.DataFrame(ser.values.reshape(7,5))

In [85]:
df

   0  1  2  3  4
0  2  3  1  7  6
1  6  2  4  7  1
2  1  6  4  1  8
3  2  7  9  1  4
4  8  1  4  9  7
5  1  1  3  5  7
6  6  8  7  1  8

In [89]:
ser.values.reshape(7,5)

array([[2, 3, 1, 7, 6],
       [6, 2, 4, 7, 1],
       [1, 6, 4, 1, 8],
       [2, 7, 9, 1, 4],
       [8, 1, 4, 9, 7],
       [1, 1, 3, 5, 7],
       [6, 8, 7, 1, 8]])

In [88]:
ser.index

RangeIndex(start=0, stop=35, step=1)

# Chapter 5

In [1]:
import pandas as pd

In [2]:
s1=pd.Series([11,22,33,44,55])

In [3]:
s1

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [6]:
s1.values

array([11, 22, 33, 44, 55], dtype=int64)

In [7]:
s1.index

RangeIndex(start=0, stop=5, step=1)

In [8]:
s2=pd.Series((12,23,45,3,1,28),index=["a","b","c","d","e","f"])

In [9]:
s2

a    12
b    23
c    45
d     3
e     1
f    28
dtype: int64

In [10]:
s2["c"]

45

In [11]:
s2["c"]=34

In [12]:
s2

a    12
b    23
c    34
d     3
e     1
f    28
dtype: int64

In [13]:
s2[s2>15]

b    23
c    34
f    28
dtype: int64

In [15]:
s2[s2<15]

a    12
d     3
e     1
dtype: int64

In [16]:
s1.name="numbers"

In [17]:
s1

0    11
1    22
2    33
3    44
4    55
Name: numbers, dtype: int64

In [20]:
dic={
    "name":"bushra",
    "city":"Karachi",
    "age":22,
    "education":"b.com"
}

In [21]:
s3=pd.Series(dic)

In [22]:
s3

name          bushra
city         Karachi
age               22
education      b.com
dtype: object

In [23]:
s3.name="Biodata"

In [24]:
s3

name          bushra
city         Karachi
age               22
education      b.com
Name: Biodata, dtype: object

In [29]:
import numpy as np
s4=pd.Series(np.arange(24),index=list("abcdefghijklmnopqrstuvwx"))

In [30]:
s4.head()

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [31]:
"e" in s4

True

In [32]:
"z" in s4

False

In [33]:
indexs=["name","city","education","fathername"]

In [34]:
s5=pd.Series(dic,index=indexs)

In [35]:
s5

name           bushra
city          Karachi
education       b.com
fathername        NaN
dtype: object